{{ define "main" }}
<main>
    <article>
        <header>
            <h1>Index of all {{.Title}}</h1>
        </header>

        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md, if one exists -->
        {{.Content}}
    </article>
    <ul>

    <!-- Ranges through *.md files (other than _index.md) -->
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}
