{{ $tspath := printf "/js/ts/%s" (.Get "subpath") }}

<p>Going to try to build TS at:
<code>{{ $tspath }}</code>
</p>

{{ $js := resources.Get ($tspath) | js.Build }}
<script src="{{ $js.Permalink }}" defer></script>
